*{margin: 0; padding: 0;}
.inner{
    /* border: solid 1px red;  */
    width: 100%; 
    margin: 0 auto; 
}
ul{
    list-style-type: none;
}
section{
    width: 100%; 
    background-color: 
    #313131;height: 42px;
    margin: 0 auto;
}
section #content{
    margin: 0 auto;
}
section #content img{
    width: 100%;
}